extends layout 

block content
  hr
  div.section-title Moderator Verification

  form(method='POST' action='')

    div.form-group 
      label(for='moderator_code') Moderator Code: 
      input#moderator_code.form-control(type='text', placeholder='Moderator Code', name='moderator_code' )

    div.form-button-row
      button.btn.btn-primary(type='submit') Submit
      a.btn.btn-primary(href='/settings') Cancel
  
  if errors 
    ul 
      for error in errors 
        li #{error.msg}