body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.input-error-msg{
  color: red;
  font-size: 10px;
  margin-left: 10px;
  margin-top: 2px;
}

.header-row{
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: end;
}

.form-button-row{
  display: flex;
  gap: 5px;
}